<span class="form-header"> New Presentation Form </span>

<%= form_for @presentation do |f| %>
  <div class="form-field">
  <%=f.label :title %>
  <%=f.text_field :title %>
  </div>

  <div class="form-field">
    <%=f.label :description%>
    <%=f.text_area :description %>
  </div>

  <div class="form-field">
    <%= f.label :video, "Video URL" %><br>
    <%= f.text_field :video %>
  </div>

  <div class="actions">
    <%= f.submit "Add Presentation" %>
  </div>
<% end %>
