<br>

<div class="profile-page callout">

  <h2> <%= @presentation.title %> </h2>
  <h5>Created by <%= link_to @presentation.user.first_name + " " +
  @presentation.user.last_name, profile_path(@presentation.user) %></h5>

  <% if @presentation.video %>
  <div class="embed-container">
    <%= embed(@presentation.video) %>
  </div>
  <% end %>

  <div class="presentation-description callout">
    <p> Description: <%= @presentation.description %> </p>
  </div>
  <br>

  <% if current_user == @presentation.user %>
    <%= link_to 'Edit Presentation', edit_presentation_path(@presentation)%>
  <% end %>

  <div class="review-links">
    <% if current_user %>
      <li><%= link_to 'Add a Comment', new_presentation_comment_path(@presentation), class: "nav-link" %></li>
    <% end %>

    <% if current_user == nil %>
        <p>Want to add a comment? Please <%= link_to 'sign in', new_user_session_path, class: "nav-link" %></p>
    <% end %>
  </div>

  <%= render './comments/index' %>
</div>
