<h2> <%= @user.first_name %> <%= @user.last_name %></h2>
<h4>
Email: <%= @user.email %><br />
</h4>

<div class="edit_account">
  <%= link_to "Edit Account Info", edit_user_registration_path %>
</div>
<br>
<div class="Avatar">
  <% if @user.avatar %>
  <%= image_tag @user.avatar.thumb.url %>
   <br />
  <% end %>
  <%= link_to "Change profile picture", edit_user_registration_path(@profile) %>
</div>
<br>
<div class="bio">
  <% if @user.bio %>
  <strong>Bio:</strong> <%= @user.bio %>
  <br><br>
  <% end %>
  <%= link_to "Edit Bio", edit_user_registration_path(@user) %>
</div>
