<!DOCTYPE html>
<html>
<head>
  <title>Launchtalks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div class="row column">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:white") %>
        </div>
      <% end %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
