<!DOCTYPE html>
<html>
<head>
  <title>Launchtalks</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href="/presentations">LaunchTalks</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_out">Sign Out</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>
      </ul>
    </div>
  </div>

  <div class="row column">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag(:div, msg, class: "alert alert-#{name}", style: "color:white") %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="column">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
